body {
	background: black;
	margin-bottom: 30px;
}

div {
    display: block;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    display: none;
    image-rendering:-moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode:nearest-neighbor;
}

#container {
	width: 85%;
	height: 85%;
    top: 1%;
    left: 1%;
    position: absolute;
}

.ribbonHolder {
	display: none;
}

.ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	opacity: 0.4;
}

h1 {
	font-size: 128px;
    font-weight: 900;
	margin-bottom: 28px;
	margin-top: 12px;
	color: white;
}

h2 {
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
	font-size: 24px;
	margin-top: -28px;
	color: black;
    padding-left: 12px;
    padding-right: 12px;
    background: white;
    display: inline;
}

.section_fashion { color: #FFC202; }
.section_networkukprod { color: #333333; }
.section_money { color: #8F1AB6; }
.section_society { color: #801100; }
.section_books { color: #D1008B; }
.section_world { color: #D61D00; }
.section_politics { color: #801100; }
.section_sport { color: #008000; }
.section_technology { color: #801100; }
.section_film { color: #D1008B; }
.section_higher-education-network { color: #0363A8; }
.section_education { color: #801100; }
.section_mobilenet { color: #333333; }
.section_media { color: #801100; }
.section_travel { color: #65C5FB; }
.section_public-leaders-network { color: #B51D5D; }
.section_environment { color: #7BBB00; }
.section_voluntary-sector-network { color: #FFB200; }
.section_music { color: #D1008B; }
.section_global-development { color: #801100; }
.section_childrens-books-site { color: #D1008B; }
.section_commentisfree { color: #0061A6; }
.section_healthcare-network { color: #0363A8; }
.section_business { color: #4A64D9; }
.section_artanddesign { color: #D1008B; }
.section_tv-and-radio { color: #D1008B; }
.section_football { color: #006000; }
.section_social-care-network { color: #0061A6; }
.section_lifeandstyle { color: #FFC202; }
.section_news { color: #D61D00; }
.section_law { color: #801100; }
.section_local-government-network { color: #993399; }
.section_stage { color: #D1008B; }
.section_housing-network { color: #993399; }
.section_culture { color: #D1008B; }
.section_science { color: #801100; }
.section_uk { color: #D61D00; }
.section_social-enterprise-network { color: #FFB200; }
.section_networkusprod { color: #333333; }
.section_government-computing-network { color: #00513B; }
.section_sustainablebusiness { color: #0061A6; }

a {
	text-decoration: none;
	color: inherit;
}

.shadow {
    text-shadow:    -1px 1px 1px rgba(0, 0, 0, 1), 2px -2px 1px rgba(255, 255, 255, 1), 4px -4px 1px rgba(255, 255, 255, 1), 6px -6px 1px rgba(255, 255, 255, 1), 8px -8px 1px rgba(255, 255, 255, 1);
    moz-text-shadow:    -1px 1px 1px rgba(0, 0, 0, 1), 2px -2px 1px rgba(255, 255, 255, 1), 4px -4px 1px rgba(255, 255, 255, 1), 6px -6px 1px rgba(255, 255, 255, 1), 8px -8px 1px rgba(255, 255, 255, 1);
    webkit-text-shadow:    -1px 1px 1px rgba(0, 0, 0, 1), 2px -2px 1px rgba(255, 255, 255, 1), 4px -4px 1px rgba(255, 255, 255, 1), 6px -6px 1px rgba(255, 255, 255, 1), 8px -8px 1px rgba(255, 255, 255, 1);
}    

